
body {
    overflow-x: hidden;
    display: block;
    background: black;
    padding-left: 2.4%;
}

.bodyall {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    font-size: 100%;
    line-height: 100%;
}

.blockfuter, .block0, .block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16, .block17, .block18, .block19 {
  box-sizing: border-box;
  border: 11px solid #03FF0D;
}


.blockfuter, .block0, .block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12, .block13, .block14, .block15, .block16, .block17, .block18, .block19 {
  /* margin-top: 9px; */
  /* margin-right: 15px; */
  margin-top: 2%;
}

.box1 {
  display: flex;
  width: 74%;
  height: 88%;
}

.box1_1 {
  display: flex;
  margin-top: -137.8%;
  width: 74%;
  height: 14%;
}

.box1_2 {
  display: flex;
  margin-top: 11.5%;
  width: 70.3%;
  height: 16.5%;
}

.box1_3 {
  display: flex;
  flex-direction: column;
  width: 39.1%;
  height: 106%;
  margin-left: 1.2%;
}

.div1 {
  width: 50%;
  height: 50%;
}

.block0 {
  width: 74%;
  height: 5.1%;
}

.blockfuter {
  margin-top: 11%;
  width: 74%;
  height: 5.1%;
}

.boxbox {
  width: 50%;
  height: 50%;
  margin-right: 0.9%;

}

.boxbox2 {
  width: 50%;
  height: 50%;

}

.block1 {
  width: 100%;
  height: 22%;
}

.radar1 {
  position: relative;
  width: 35.6%;
  height: 34.4%;
  margin: 0 auto;
  margin-top: 6%;
  border: 4px solid #03FF0D;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  border-radius: 2.8% 2.8% 0 0;
}

.hr1, .hr2, .hr3 {
  width: 12%;
  border: 3px solid #00FF0B;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
}

.hr1 {
  transform: rotate(90deg);
  margin-top: 11.5%;
}

.hr2 {
  position: absolute;
  left: 17%;
  top: -114.5%;
  transform: rotate(45deg);
}

.hr3 {
  position: absolute;
  right: 17%;
  top: -115.5%;
  transform: rotate(-45deg);
}

.img0 {
  position: absolute;
  width: 22%;
  top: 79%;
  left: 37%;
}

.img1 {
  width: 37%;
  position: absolute;
  left: 29.6%;
  top: 50.6%;
  animation: img1 700ms linear alternate none infinite running;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes img1 {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(-80deg);}
}




.radar2 {
  position: relative;
  padding-top: 0%;
  width: 19%;
  height: 18%;
  margin: 6.2% 9.4% 0 6.7%;
  border: 4px solid #03FF0D;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  border-radius: 1.5% 1.5% 0 0;
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4, .rectangle5 {
  position: absolute;
  top: 0;
  background: white;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
}

.rectangle1 {
  width: 7.8%;
  height: 58%;
  margin-left: 15%;
}

.rectangle2 {
  width: 7.8%;
  height: 27%;
  margin-left: 45%;
  animation: ret2 1.5s ease-in-out infinite;
}

@keyframes ret2 {
0% {height: 27%;}
50% {height: 77%;}
100% {height: 27%;}
}

.rectangle3 {
  width: 7.8%;
  height: 42%;
  margin-left: 77%;
}


.radar3 {
  position: relative;
  width: 19%;
  height: 18%;
  margin: -12.7% 0 0 72.3%;
  border: 4px solid #03FF0D;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  border-radius: 1.5% 1.5% 0 0;
}

.cercile {
  margin-left: 39%;
  margin-top: -46%;
  width: 100%;
  height: 100%;
}

.cer1 {
  display: inline-block;
  margin-right: -12%;
  width: 4.8%;
  height: 9.3%;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
}



._cer3 {
  width: 3%;
  position: absolute;
  margin-top: -49.1%;
  margin-left: -2%;
  offset-path: path('M9 13.0004H72.9553V172.888H171');
  animation: movecer 3s ease-in-out alternate infinite;
}

@keyframes movecer {
  100% {offset-distance: 100%;}
}

._cer2 {
  width: 3%;
  /* height: 2%; */
  position: absolute;
  margin-top: -31%;
  margin-left: 33.5%;
  offset-path: path('M126 150H91.3241H56.6482V82.3734H100.055V13H9');
  animation: movecer 2s ease-in-out alternate infinite;
}

._cer4 {
  width: 5%;
  margin-top: -3%;
  margin-left: -134%;
  offset-path: path('M341.355 53.3558L309.755 21.7553L221 110.51L220.506 110.016L219.761 110.761L156.705 47.7051L60 144.41L56.4645 140.874L56.6691 140.67L14 98.0005L17.5355 94.465L60.2046 137.134L156.874 40.465L160.409 44.0005L160.24 44.1696L220.255 104.184L306.219 18.2198L306 18.0005L309.536 14.465L341.849 46.7787L368.163 20.465L371.698 24.0005L343 52.699L342.506 52.2051L341.355 53.3558Z');
  /* animation: movecer 2s ease-in-out alternate infinite; */
}

@keyframes movecer {
  100% {offset-distance: 100%;}
}



.rectangle4 {
  width: 7.8%;
  height: 27%;
  margin: -0.01% 0 0 27.5%;
}

.rectangle5 {
  width: 7.8%;
  height: 22%;
  margin-left: 57.5%;
}

.rectangle5 {
  animation: ret2 1.5s ease-in-out infinite;
}








.block2 {
  /* position: relative; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 51%;
}

.lab {
  width: 80%;
  display: block;
  margin: 3% auto;
  position: relative;
  z-index: 2;
}

.line1 {
  width: 12%;
  position: absolute;
  margin-top: -37%;
  margin-left: -0.6%;
}

.line2 {
  width: 12.4%;
  position: absolute;
  margin-top: -31%;
  margin-left: 34.2%;
}


.block3 {
  width: 100%;
  height: 7%;
}

.div2 {
  width: 50%;
  height: 50%;
}

.block4 {
  position: relative;
  width: 100%;
  height: 43%;
}

.humlab1 {
  width: 65%;
  height: 75%;
  margin-top: -31.4%;
  margin-left: 17%;
}

.collbs {
  position: relative;
  width: 45%;
  height: 33%;
  top: -11.4%;
  margin-left: 9%;
}

._cer5 {
  width: 1.5%;
  height: 0.6%;
  position: absolute;
  margin-top: 29.4%;
  margin-left: -14.7%;
  offset-path: path('M9 11.5L39.8702 12.9653C46.7 13 52 18.1912 53.867 24.8988L108 285.5');
  animation: movecer 2.3s cubic-bezier(0.21, -0.25, 0.59, 0.98) infinite;
}

@keyframes movecer {
  100% {offset-distance: 100%;}
}


.block5 {
  position: relative;
  /* margin-top: 17px; */
  width: 100%;
  height: 15%;
}

.b5 {
  width: 71%;
  height: 144%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: -15% 0 0 17%;
}

.tablet, .tabletline {
  width: 95%;
  height: 85%;
  display: inline-block;
}

.tablet2 {
  display: block;
  margin-top: 33%;
  width: 89%;
  height: 60%;
  float: left;
}

.tabletline {
  display: block;
  margin-top: 22%;
  width: 52%;
  height: 57%;
  float: left;
}


.cer3, .cer4, .cer5 {position: absolute;width: 5%;height: 15%;border-radius: 50%;background-color: #FFFFFF;box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);}

.cer3 {
  top: 21%;
  left: 10%;
  animation: cer3 1.5s linear infinite alternate;
}

.cer3:hover {
  animation-play-state: paused;
}

@keyframes cer3 {
  0% {left: 14%;}
  100% {left: 25%;}
}

.cer4 {
  top: 42%;
  left: 17%;
  animation: cer4 2.5s linear infinite alternate;
}

.cer5 {
  top: 65%;
  left: 13%;
  animation: cer5 1.5s linear infinite alternate;
}

.cer5:hover {
  animation-play-state: paused;
}

@keyframes cer5 {
  0% {left: 25%;}
  100% {left: 14%;}
}

.block6 {
  position: relative;
  padding-bottom: 5%;
  width: 70%;
  height: 22%;
  float: left;
  display: inline-block;
}

.humanbrain {
  position: absolute;
  bottom: -3%;
  left: 15%;
  display: block;
  width: 76%;
}

._cer6 {
  width: 5.2%;
  height: 6.5%;
  position: absolute;
  margin-top: 16.7%;
  margin-left: 60.2%;
  animation: sizecer 2.5s cubic-bezier(0.21, -0.25, 0.59, 0.98) infinite;
}


.cer6_0 {
  margin-top: 9.5%;
  margin-left: 49%;
}

.cer6_1 {
  margin-top: 12.6%;
  margin-left: 53.1%;
}

.cer6_2 {
  margin-top: 13%;
  margin-left: 37%;
}

.cer6_3 {
  margin-left: 44.3%;
}

.cer6_4 {
  margin-top: 7.9%;
  margin-left: 54.8%;
}

.cer6_5 {
  margin-top: 4.9%;
  margin-left: 46.4%;
}

@keyframes sizecer {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}



.block7,.block8 {
  /* display: inline-block; */
  margin-left: 71.5%;
}

.block7 {
  width: 28.6%;
  height: 6%;
}

._cer7 {
  width: 4%;
  height: 4;
  position: absolute;
  margin-left: 1.4%;
}

.cer7_0 {
  margin-top: -12%;
  margin-left: 4.4%;
  animation: movecer2 2s cubic-bezier(0.21, -0.25, 0.59, 0.98) alternate infinite;
}

.cer7_1 {
  margin-top: -4%;
  margin-left: 4.4%;
  animation: movecer2_1 2s cubic-bezier(0.21, -0.25, 0.59, 0.98) alternate infinite;
}

.cer7_2 {
  margin-top: 5%;
  margin-left: 1.4%;
}

.cer7_3 {
  margin-left: 7.3%;
}

@keyframes movecer2 {
  0% {top: 40%;}
  100% {top: 42%;}
}

@keyframes movecer2_1 {
  0% {top: 41%;}
  100% {top: 45%;}
}

.block7line, .block8line  {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: -7%;
}

.block8line {
  height: 113%;
}

.block8 {
  width: 28.6%;
  height: 15.2%;
}

.block9 {
  position: relative;
  padding-bottom: 1%;
  margin-top: 0.9%;
  margin-right: 1%;
  width: 15.2%;
  height: 125%;
}


.block10 {
  width: 55.1%;
  height: 102%;
  float: left;
  display: inline-block;
  margin-top: 0.9%;
}

.box2 {
  width: 55%;
}

.block11 {
  width: 98.5%;
  height: 25%;
}

.block12 {
  /* position: relative; */
  padding-bottom: 50%;
  width: 98.5%;
  height: 97%;
}

.block12pic {
  width: 75%;
  margin-top: 11%;
  margin-left: 11.7%;

}

.rectangle6, .rectangle7, .rectangle8, .rectangle9, .rectangle10, .rectangle11, .rectangle12, .rectangle13 {
  position: absolute;
  padding-top: 0%;
  background: #03FF0D;
  box-shadow: 0px 0px 12px rgb(205 205 205 / 70%);
}



.rectangle6 {
  width: 0.4%;
  height: 4%;
  margin: 0 0 0 2%;
  animation: moveline6 2s linear alternate infinite;
}

@keyframes moveline6 {
  0% {height: 11%;}
  50% {height: 2%;}
  100% {height: 11%;}
}

.rectangle7 {
  width: 0.4%;
  height: 3%;
  margin: 0 0 0 5%;
  animation: moveline7 2s linear alternate infinite;
}

@keyframes moveline7 {
  0% {height: 1.5%;}
  50% {height: 0.5%;}
  100% {height: 1.5%;}
}

.rectangle8 {
  width: 0.4%;
  height: 4%;
  margin: 0 0 0 9.3%;
  animation: moveline8 2s linear alternate infinite;
}

@keyframes moveline8 {
  0% {height: 2%;}
  50% {height: 0.5%;}
  100% {height: 2%;}
}

.rectangle9 {
  width: 0.4%;
  height: 4%;
  margin: 0 0 0 17.5%;
  animation: moveline9 2s linear alternate infinite;
}

@keyframes moveline9 {
  0% {height: 2%;}
  50% {height: 0.3%;}
  100% {height: 2%;}
}

.rectangle10 {
  width: 0.4%;
  height: 4%;
  margin: 0 0 0 27.8%;
  animation: moveline8 2s linear alternate infinite;
}

@keyframes moveline10 {
  0% {height: 4%;}
  50% {height: 1%;}
  100% {height: 4%;}
}

.rectangle11 {
  width: 0.4%;
  height: 4%;
  margin: 0 0 0 32%;
  animation: moveline7 2s linear alternate infinite;
}

@keyframes moveline11 {
  0% {height: 2%;}
  50% {height: 1%;}
  100% {height: 2%;}
}


.rectangle12 {
  width: 0.4%;
  height: 4%;
  margin: 0 0 0 35%;
  animation: moveline6 2s linear alternate infinite;
}

@keyframes moveline12 {
  0% {height: 13%;}
  50% {height: 3%;}
  100% {height: 13%;}
}

.rectangle13 {
  /* width: 0.4%; */
  /* height: 8%; */
  margin: -26.1% 0 0 40%;
}

.block18, .block19 {
  display: inline-block;
}

.block18 {
  width: 84.5%;
  height: 50%;
}

.block19 {
  width: 84.5%;
  height: 45%;
}

.block9line {
  position: absolute;
  bottom: 0;
  width: 73%;
  display: block;
  margin: 0 auto;
  margin-left: 13%;
}

.box3 {
  width: 34%;
  margin-top: 0.4%;
}

.block13 {
  position:relative;
  padding-bottom:50px;
  width: 100%;
  height: 76%;
}

.humanlab2 {
  position:absolute;
  bottom: -3%;
  width: 76%;
  margin-top: 29%;
  margin-left: 5%;
}

.block13rec {
  display: flex;
  width: 57%;
  margin-top: 11%;
  margin-left: 30%;
}

.rectangle14, .rectangle15 {
  width: 66%;
  height: 20px;
  box-sizing: border-box;
  border: 4px solid #03FF0D;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  margin-left: 22%;
  margin-top: -5%;
}

.radars_0, .radars {
  width: 23%;
}

.radars {
  position: absolute;
  top: 22%;
  left: 59%;
  animation: radarrotate 3s linear alternate infinite;
}

@keyframes radarrotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}

.radars_0 {
  position: absolute;
  top: 44%;
  left: 72%;
  animation: radarrotate2 3.5s linear alternate infinite;
}

@keyframes radarrotate2 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(270deg);}
}

.block13cer {
  display: flex;
  width: 38%;
  margin-top: 10.5%;
  margin-left: 9%;
  flex-direction: column;
}

._1column, ._2column {
  margin-bottom: -32%;
  height: 95%;
}

.strokecer1, .strokecer2 {
  position: absolute;
  box-sizing: border-box;
  width: 5.7%;
  height: 6%;
  border-radius: 100%;
  border: 2px solid #03FF0D;
  box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);
  animation: strokcer 500ms cubic-bezier(0.4, 0, 1, 1) infinite;
}

.strokecer2 {margin-left: 13%;}

@keyframes strokcer {
  0% {border: 2px solid #03FF0D;}
  50% {border: 7px solid #03FF0D;}
  100% {border: 2px solid #03FF0D;}
}

.block14 {
  position: relative;
  width: 100%;
  height: 48%;
}

.allblock14 {
  display: flex;
}

 .block14_2 {
  display: grid;
  margin: -67% 0% 0 70%;
  width: 21%;
  height: 110%;
}

.block14_1 {
  margin: 5% 0% 0 0%;
  width: 89%;
  height: 100%;
}

.block14cer {
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
}

._14column {
  width: 100%;
  height: 100%;
}

#strokcer {
  width: 9%;
  height: 17%;
  background-color: white;
  border: none;
  animation: shadowcer 500ms cubic-bezier(0.4, 0, 1, 1) infinite;
}

.st2 {
  margin-left: 4%;
}

._1column14 {
    margin-top: 7%;
    margin-left: 24%;
}

@keyframes shadowcer {
  0% {box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);}
  50% {box-shadow: 0px 0px 15px rgba(205, 205, 205, 1);}
  100% {box-shadow: 0px 0px 12px rgba(205, 205, 205, 0.7);}
}

.block14radar {
  width: 63%;
  height: 50%;
  position: absolute;
  margin-left: 1%;
  margin-top: 20%;
}

.ellipse6 {
  width: 93%;
  margin-left: 4%;
  margin-top: 20%;
}

.block14line {
  width: 104%;
}

.block15 {
  width: 100%;
  height: 32%;
}

.block16 {
  width: 100%;
  height: 77.5%;
}
